<!-- <h1>Bienvenue {{ user.first_name }} !</h1>
<p>Vous êtes un user.</p> -->
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}  
    {% include 'produit/header.html' %}
</head>
<body>
    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">123 Street, New York</a></small>
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
                </div>
                <div class="top-link pe-2">
                    <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                    <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                    <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="index.html" class="navbar-brand"><h1 class="text-primary display-6">Beat</h1></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="{% url 'client_dashboard' %}" class="nav-item nav-link ">Home</a>
                        <a href="{% url 'shop' %}"class="nav-item nav-link active">Products</a>
                        <a href="{% url 'evaluation_list' %}" class="nav-item nav-link ">Reviews</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                <a href="cart.html" class="dropdown-item">Cart</a>
                                <a href="chackout.html" class="dropdown-item">Chackout</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="404.html" class="dropdown-item">404 Page</a>
                            </div>
                        </div>
                        {% load static %}

                        <a href="{% url 'messages_list' %}"class="nav-item nav-link">Messages</a>
                    </div>
                    <div class="d-flex m-3 me-0">
                        <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                        <a href="#" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                        </a>
                        <a href="#" class="my-auto">
                            <i class="fas fa-user fa-2x"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    
    <!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">List of products</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">List of products</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">List of products</h1>
        <form method="get" action="{% url 'produit_create' %}">
                                <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">Add product</button>
                            </form>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <!-- Formulaire de recherche pour le nom du produit -->
                            <form method="get" action="{% url 'produit_list' %}" id="search-form" class="w-100 d-flex">
                                <input type="search" class="form-control p-3" name="q" id="search-input" placeholder="Rechercher par nom" value="{{ request.GET.q }}" oninput="checkInput()">
                                <button type="submit" class="btn input-group-text p-3 border-0 bg-transparent">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    
                    <script>
                        function checkInput() {
                            const searchInput = document.getElementById('search-input');
                            const form = document.getElementById('search-form');
                            
                            // Si le champ de recherche est vide, soumettre le formulaire avec un paramètre vide
                            if (searchInput.value === '') {
                                form.submit();  // Soumettre le formulaire pour afficher tous les produits
                            }
                        }
                    </script>                                    
                    <div class="col-6"></div>
                    <!-- Formulaire de tri -->
<div class="col-xl-3">
    <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
        <label for="sorting">Sort by:</label>
        <form method="get" action="{% url 'produit_list' %}" id="sortingForm">
            <select id="sorting" name="sort_by" class="border-0 form-select-sm bg-light me-3" onchange="document.getElementById('sortingForm').submit();">
                <option value="nom_produit" {% if request.GET.sort_by == 'nom_produit' %}selected{% endif %}>Name</option>
<option value="prix_produit" {% if request.GET.sort_by == 'prix_produit' %}selected{% endif %}>Price</option>
<option value="quantite_produit" {% if request.GET.sort_by == 'quantite_produit' %}selected{% endif %}>Quantity</option>
</select>
        </form>        
    </div>
</div>

                </div>
                <style>
                    /* Ajoutez cette section pour garantir une hauteur uniforme pour les cards */
                    .fruite-item {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                    }
                    .fruite-item .p-4 {
                        flex-grow: 1; /* Assure que cette section occupe tout l'espace disponible */
                    }
                
                    /* Assurez-vous que les bordures sont alignées */
                    .fruite-item .border-top-0 {
                        border-top: none !important; /* Si vous avez un padding ou un margin qui modifie la taille de la bordure */
                    }
                </style>
                
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a href="#"><i class="fas fa-apple-alt me-2"></i>Apples</a>
                                                <span>(3)</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Additional</h4>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                                        <label for="Categories-1"> Organic</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                                        <label for="Categories-2"> Fresh</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                                        <label for="Categories-3"> Sales</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                                        <label for="Categories-4"> Discount</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                                        <label for="Categories-5"> Expired</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            {% for produit in page_obj %}
                            <div class="col-md-6 col-lg-6 col-xl-4">
                                <div class="rounded position-relative fruite-item">
                                    <div class="fruite-img">
                                        <img src="img/fruite-item-5.jpg" class="img-fluid w-100 rounded-top" alt="">
                                    </div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4>{{ produit.nom_produit }}</h4>
                                        <p>{{ produit.description_produit }}</p>
                                        <div class="d-flex flex-column align-items-start">
                                            <p class="text-dark fs-5 fw-bold mb-0">{{ produit.prix_produit }} DT</p>
                                            <a href="{% url 'produit_detail' produit.id %}" class="btn border border-secondary rounded-pill px-3 text-primary mt-3">Details</a>
                                        </div>
                                    </div>                                                                      
                                </div>
                            </div>   
                            {% endfor %}
                        </div>
                        
                        <!-- Pagination -->
                        <div class="col-12">
                            <div class="pagination d-flex justify-content-center mt-5">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" class="rounded">&laquo;</a>
                                {% else %}
                                    <span class="rounded disabled">&laquo;</span>
                                {% endif %}
                        
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <a href="?page={{ num }}" class="active rounded">{{ num }}</a>
                                    {% else %}
                                        <a href="?page={{ num }}" class="rounded">{{ num }}</a>
                                    {% endif %}
                                {% endfor %}
                        
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="rounded">&raquo;</a>
                                {% else %}
                                    <span class="rounded disabled">&raquo;</span>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
   
    <footer>

        {% include 'produit/footer.html' %}

        Contactez-nous : <a href="mailto:Beat@gmail.com">Beat@gmail.com</a>
    </footer>

</body>
</html>